/* NAME.scss */
// ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰
/*――――――― (|  SCSS-VARIABLES  |) ―――――――*/
.AppContainer {
  background-color: #2f323a;
  margin-top: 100px;
  padding: 0;
  width: 60%;
  margin-left: 300px;
  border-radius: 15px;
  // ⚫️⚫️☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰
  h1 {
    font-family: Iceland, sans-serif;
    color: mediumpurple;
    font-size: 3.2rem;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 5px;
  }

  .name {
    @extend h1;
    font-size: 2.2rem;
  }

  h3 {
    font-family: Iceland, sans-serif;
    color: mediumpurple;
    font-size: 4.2rem;
    display: grid;
    place-items: center;
    margin: 0;
  }

  .btn1 {
    font-size: 1.3rem;
    padding: 20px 70px;
    color: aliceblue;
    background-color: #2f323a;
    border-radius: 8px;
    margin-left: 14rem;
    margin-bottom: 3rem;
    cursor: pointer;

    &:hover {
      background-color: darkorange;
      transition: all 0.25s ease-in-out;
    }

    &:active {
      opacity: 0.15
    }
  }

  .btn2 {
    @extend .btn1;
    margin-left: 12rem;
  }

  .btn3 {
    @extend .btn1;
    margin-left: 13rem;
  }

  .btn4 {
    @extend .btn1;
    margin-left: 12rem;
  }
}
